<?xml version="1.0" encoding="utf-8"?>
<browserconfig>
	<msapplication>
		<tile>
			<TileColor>#337ab7</TileColor>
			<square70x70logo src="assets/icons/windows/070x070.png?v=2.3.0" />
			<square150x150logo src="assets/icons/windows/150x150.png?v=2.3.0" />
			<square310x310logo src="assets/icons/windows/310x310.png?v=2.3.0" />
			<wide310x150logo src="assets/icons/windows/310x150.png?v=2.3.0" />
		</tile>
	</msapplication>
</browserconfig>
