// Skills Section
// --------------------------------------------------------

	.@{prefix}-skills-section-header
	{
		&:before { content: @awesome-glyth-skills }
	}

// Skills Section Item
// --------------------------------------------------------

	.@{prefix}-skills-level-tag
	{
		display: inline-block;
		padding: 1px 6px;
		margin: 0 0 0 5px;
		font-weight: bold;
		color: #fff;
		font-size: 85%;
		border-radius: 2px;

		&.expert     { background: #337ab7 }
		&.proficient { background: #5bc0de }
	}

// Skill Section Tags
// --------------------------------------------------------

	.@{prefix}-skills-tag
	{
		display: inline-block;
		padding: 1px 6px;
		margin: 0 1px 5px;
		font-weight: bold;
		color: #555;
		font-size: 85%;
		white-space: nowrap;
		border-radius: 2px;
		background: #eee;
		border: 1px solid #e5e5e5;
	}

	.@{prefix}-skills-tags { margin: 0 0 5px }
